CompileFlags:
  # Compiler: "/usr/bin/arm-none-eabi-gcc"

  Add: [
    # "--target=armv7m-none-eabi",
    "-isystem/usr/lib/gcc/arm-none-eabi/14.2.0/include",
    "-isystem/usr/lib/gcc/arm-none-eabi/14.2.0/include-fixed",
    "-isystem/usr/arm-none-eabi/include",
    # "-mcpu=cortex-m3",
    # "-mthumb",
    # "-mfloat-abi=soft"
  ]
